main {
  width: 94.5%;
  margin-left: 5.5%;
  display: flex;
  background-color: #f3f4f8;
}
.main_page_right {
  width: 30.1%;
  background-color: #ffffff;
  color: #768396;
  padding: 2.4rem 2.79rem;
}
.main_page_left {
  width: 69.9%;
  padding: 1.375rem 2.5rem;
}
.main_page_left .main_page_summary {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main_page_right .section_title {
  color: #005555;
  margin-bottom: 1.13rem;
}

#main_page_right_title {
  margin-bottom: 2rem;
}
